html{
  background: url(../images/UnitedStatesFlag.svg.png) no-repeat center center fixed;
  background-size: cover;
}


body{
  background: rgba(0,0,0,0.1);
}

/*~~~~~~~~~~~~ howToPlay Divs ~~~~~~~~~~~*/
/*~~~~~~ Displays | Sizes | Positions ~~~~~~*/

#howToPlay1{
  /*display: none;*/
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  border: 5px solid orange;
  background: rgba(0,0,0,0.3);
  color: white;
}

#howToPlay2{
  /*display: none;*/
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  border: 5px solid green;
  background: rgba(0,0,0,0.3);
  color: white;
}

#howToPlay3{
  /*display: none;*/
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  border: 5px solid blue;
  background: rgba(0,0,0,0.3);
  color: white;
}



/*~~~~~~~~~~~~ CA Left options ~~~~~~~~~~~*/
/*~~~~~~ Displays | Sizes | Positions ~~~~~~*/

.optionsLeft > li > img {
  height: 50%;
  width: 70%;
}

.optionsLeft > li{
  margin-top: 5%;
}


/*~~~~~~~~~~~~ CA Right options ~~~~~~~~~~~*/
/*~~~~~~ Displays | Sizes | Positions ~~~~~~*/

.optionsRight > li > img {
  height: 50%;
  width: 70%;
}

.optionsRight > li{
  margin-top: 5%;
}


/*~~~~~~~~~~~~~~~ flag ~~~~~~~~~~~~~~~*/
/*~~~~~~ Displays | Sizes | Positions ~~~~~~*/

#flag img{
  height: 60%;
  width: 80%;
}
#flag{
  margin: 20% auto;
}


/*~~~~ Div Containing L/R & flag Options ~~~~*/
/*~~~~~~ Displays | Sizes | Positions ~~~~~~*/

.divLeft{
  float: left;
  width: 25%;
}

.divMiddle{
  vertical-align: middle;
  float: left;
  width: 50%;
}

.divRight{
  float: right;
  width: 25%;
}



/*~~~~ Class added with JS ~~~~*/
/*~~~~~~ Highlighted Borders ~~~~~~*/


.wrongAnswer {
  border: 5px solid red;
}

.correctAnswer {
  border: 5px solid lightgreen;
}



















